<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxjunkyard.location.repository.dao.mapper.GeometryMapper">
    <insert id="addLocation">
        insert into mygeometry(id,location)
        values(#{id},ST_GeomFromText(#{location},4326))
        on duplicate key update location=ST_GeomFromText(#{location},4326)
    </insert>
    <select id="getNeighborhood" resultType="com.dxjunkyard.location.domain.resource.Neighborhood">
        select
               id
             , ST_X(location) latitude
             , ST_Y(location) longitude
             , ST_Distance(location, ST_GeomFromText(#{location},4326)) distance
        from mygeometry
        order by distance LIMIT 50;
    </select>
</mapper>
